<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A simple yet powerful IP grabber" />

    <title>Grabr</title>

    <link
      id="favicon"
      rel="icon"
      href="/cdn/fav.svg"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div
      style="position: absolute;background-color: var(--black);width: 100%;top: 0px;left: 0px;right: 0px;color: #efefef;text-align: center;padding: 5px;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);"
    >
      <details><summary style="cursor:pointer;" onclick="document.body.classList.toggle('ed_open')">Educational purposes only ⚠️</summary>
      <div style="max-width: 600px;margin:5px auto;text-align:left;">
        
      <p style="margin-bottom: 0px;">Before Glitch bans this project under violation of "violates any person’s right to privacy or publicity or otherwise solicits, collects, or publishes data, including personal information and login information, about other Users without consent [...]", I would like to note that:</p><br>
        <ul>
          <li> Data is easily deleted
      </li><li> Data is only collected with consent of the user
      </li><li> No personal information or login information is collected
      </li><li> This does not violate any law
        </li>
        </ul>
        </div>
      </details>
    </div>
    <header>
      <div class="header">
        
      <img src="/cdn/logo_white.svg" alt="grabr">
      <h1>A simple IP logger</h1>
      <p>
        Grabr is a simple yet powerful IP logger.
      </p>
        <form action="/new" class="form">
        <input class="link" type="url" placeholder="https://example.com/articles/long-link/1846" name="link">
          <button type="submit" class="sub">
            -&gt;
          </button>
        </form>
      </div>
    </header>
    <main>
      <h2>
        The best available out there
      </h2>
      <p>
        We collect tons of information:
      </p>
      <ul class="col_info">
        <li>User IP</li>
        <li>User hostname</li>
        <li>City (from IP)</li>
        <li>Region (from IP)</li>
        <li>Postal code (from IP)</li>
        <li>Country (from IP)</li>
        <li>Continent (from IP)</li>
        <li>Coordinates (from IP)</li>
        <li>Timezone (from IP)</li>
        <li>User's ISP (from IP)</li>
        <li>ASN (from IP)</li>
        <li>Browser name</li>
        <li>Browser language</li>
        <li>Browser version</li>
        <li>Icognito window</li>
        <li>Orientation</li>
        <li>Adblock</li>
        <li>DNT/GPC enabled</li>
        <li>Is mobile</li>
        <li>Screen size</li>
        <li>OS</li>
        <li>OS version</li>
        <li>Page referrer</li>   
        <li>Internet speed</li>
      </ul>
      <p>
       To protect everyone's privacy, this information is only collected after consent.
      </p>
      <img src="https://cdn.glitch.global/95c12de1-6f26-4005-aa32-4d12b7fa6aea/ezgif-2-c2b34986aa.gif?v=1688214170873" alt="Clicking the consent box" style="width: 100%;">
      <p>
        Need help? <a href="https://grabr.glitch.me/contact">Contact us</a>
      </p>
    </main>
  </body>
</html>
